{% extends 'testEng/base_visitor.html' %}
{% block title %}Register{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Create a new account</h3>
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'testEng/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                Already have an account? <a href="{% url 'testEng:login_user' %}">Click here</a> to log in.
            </div>
        </div>
    </div>
</div>
{% endblock %}