{% extends 'testEng/base.html' %}
{% block title %}Topic{% endblock %}
{% block body %}
{% csrf_token %}
<div class="container">
        <ul>
            {% for topic in all_topics %}
                <li>
                    <a href="{% url 'testEng:detail-topic' topic.id %}">
                        <h3>{{topic.name}}</h3>
                    </a>
                    Posted by {{topic.user}}
                </li>
                <br/>
            {% endfor %}
        </ul>
    </div>
{% endblock %}